<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>audio</string>
	</array>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Motosync Bridge needs Bluetooth to connect to your Honda dashboard and stream track metadata.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Motosync Bridge needs Bluetooth to connect to your Honda dashboard and stream track metadata.</string>
	<key>CFBundleIdentifier</key>
	<string>com.priyajit.MotosyncBridge</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Needed to read track names.</string>
</dict>
</plist>
