<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>audio</string>
		<string>location</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>MotosyncBridge uses your location to find nearby places like restaurants, ATMs, and petrol stations.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>MotosyncBridge uses your location to find nearby places and for future tracking features.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Motosync Bridge needs Bluetooth to connect to your Honda dashboard and stream track metadata.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Motosync Bridge needs Bluetooth to connect to your Honda dashboard and stream track metadata.</string>
	<key>CFBundleIdentifier</key>
	<string>com.priyajit.MotosyncBridge</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Needed to read track names.</string>
	<key>NSMotionUsageDescription</key>
	<string>MotosyncBridge uses motion sensors to analyze road quality and log potholes during your ride.</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
	</array>
</dict>
</plist>
